<!DOCTYPE html>
<html lang="en">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<style>
.ui-bar-f
{
color:white;
background-color:#D00000;
text-shadow:none;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>唯佳房产</title>
</head>
<body>
<div data-role="page" id="photos">
    <header data-role="header" data-theme="f">
        <h1>房源信息-<%if(rent==true){%>租房<%}%><%if(rent==false){%>二手房<%}%></h1>
    </header>
    <article data-role="content">
       <div data-role="controlgroup" data-type="horizontal">
           <%if(rent==true){%>
                               <select name="price" id="price"  data-inline="true">
                                   <option value="" <%if(price==''){%> selected="selected" <%}%>>&nbsp;价格&nbsp;</option>
                                   <option value="0" <%if(price=='0'){%> selected="selected" <%}%>>3000以下</option>
                                   <option value="1" <%if(price=='1'){%> selected="selected" <%}%>>3000以上</option>
                               </select>
                               <%}%>
                                <%if(rent==false){%>
                                                   <select name="price" id="price" style="width:33.33%" data-inline="true">
                                                       <option value="" <%if(price==''){%> selected="selected" <%}%>>&nbsp;价格&nbsp;</option>
                                                       <option value="0" <%if(price=='0'){%> selected="selected" <%}%>>100万以下</option>
                                                       <option value="1" <%if(price=='1'){%> selected="selected" <%}%>>100万以上</option>
                                                   </select>
                                                   <%}%>
             <select name="fitment" id="fitment" data-inline="true">
                                    <option value="" <%if(fitment==''){%> selected="selected" <%}%>>&nbsp;装修&nbsp;</option>
                                    <option value="0" <%if(fitment=='0'){%> selected="selected" <%}%>>&nbsp;毛坯&nbsp;</option>
                                    <option value="1" <%if(fitment=='1'){%> selected="selected" <%}%>>&nbsp;简装&nbsp;</option>
                                    <option value="2" <%if(fitment=='2'){%> selected="selected" <%}%>>&nbsp;精装&nbsp;</option>
                                    <option value="3" <%if(fitment=='3'){%> selected="selected" <%}%>>豪华装修</option>
                                </select>
           <select name="area" id="area" data-inline="true">
                                   <option value="" <%if(area==''){%> selected="selected" <%}%>>&nbsp;面积&nbsp;</option>
                                   <option value="0" <%if(area=='0'){%> selected="selected" <%}%>>75以下</option>
                                   <option value="1" <%if(area=='1'){%> selected="selected" <%}%>>75~100平</option>
                                   <option value="2" <%if(area=='2'){%> selected="selected" <%}%>>100平以上</option>
                               </select>
        </div>
        <ul data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="楼盘/区域">

            <li data-role="list-divider" data-theme="f">精选房源</li>
             <% for(var i=0; i<data.length;i++){%>
            <li onclick="houseDetail('<%=data[i].guid%>')">
                <a >
                    <img src="/upload/<%=(data[i].photourl).split(";")[0]%>" style="padding:12px 0 12px 10px;width:80px;height:80px" alt="image" id="gallery" onerror="this.src='/images/b.jpg'">
                    <div style="float:left">
                        <h3><%=data[i].title%></h3>
                        <p><%=data[i].area%>平  <%if(data[i].fitment=="0"){%>毛坯<%}%><%if(data[i].fitment=="1"){%>简装<%}%><%if(data[i].fitment=="2"){%>精装<%}%><%if(data[i].fitment=="3"){%>豪华装修<%}%></p>
                        <p><%=data[i].region%></p>
                    </div>
                    <div style="position: absolute; top: 34px; right: 46px;">
                        <h3><%=data[i].price%><%if(rent==true){%>元<%}%><%if(rent==false){%>万元<%}%></h3>
                    </div>
                </a>
            </li>
            <%}%>
        </ul>
    </article>
    </div>

    <script type="text/javascript">

        function houseDetail(guid){
            window.location = "/mobile/detailHouse/"+guid;
        }

        $("select").change(function(){
            var price = $("#price").val();
            var area = $("#area").val();
            var fitment = $("#fitment").val();
            var rent = <%=rent%>;
            location.href="/mobile/query?price="+price+"&area="+area+"&fitment="+fitment+"&rent="+rent;
        })

    </script>
</body>


</html>