<form role="form" method="post" id="houseForm">
<div class="modal-header">
	<h4>新增<% if(rent == 'true'){%>租赁房<%}%><% if(rent == 'false'){%>二手房<%}%>信息</h4>
</div>
<div class="modal-body" >
											<div class="form-group">
        										<label>标题</label>
        										<input class="form-control"  name="title" >
        									</div>
        									<div class="form-group">
        										<label>价格</label>
        										<input class="form-control"  name="price">
        									</div>
											<div class="form-group">
        										<label>户型</label>
        										<select class="form-control" name="type" id="type">
        											<% for(var i=0; i<typelist.length;i++){%>
        											<option value=<%=typelist[i].typeid%>><%=typelist[i].label%></option>
        											<%}%>
        										</select>
        									</div>
 											<div class="form-group">
          										<label>楼层</label>
          										<input class="form-control"  name="floor">
          									</div>
											<div class="form-group">
          										<label>面积</label>
          										<input class="form-control"  name="area">
          									</div>
        									<div class="form-group">
        										<label>建筑年代</label>
        										<input class="form-control" name="createyear" >
        									</div>
        									<div class="form-group">
        										<label>区域</label>
        										<input class="form-control" name="region" >
        									</div>
  											<div class="form-group">
           										<label>地址</label>
           										<input class="form-control"  name="address">
           									</div>
           									<div class="form-group">
        										<label>经理人</label>
        										<select class="form-control" name="agentid" id="agentid">
        											<% for(var i=0; i<agents.length;i++){%>
        											<option value=<%=agents[i].guid%>><%=agents[i].name%></option>
        											<%}%>
        										</select>
        									</div>
        									<div class="form-group">
        										<label>装修情况：</label>
        										<label class="radio-inline">
        											<input type="radio" name="fitment" id="fitment1" value="0" checked >毛坯
        										</label>
        										<label class="radio-inline">
        											<input type="radio" name="fitment" id="fitment2" value="1"  >简装
        										</label>
        										<label class="radio-inline">
        											<input type="radio" name="fitment" id="fitment3" value="2"  >精装
        										</label>
        										<label class="radio-inline">
        											<input type="radio" name="fitment" id="fitment4" value="3"  >豪华装修
        										</label>
        									</div>
        									<div class="form-group">
        										<label>房源朝向：</label>
        										<label class="radio-inline">
        											<input type="radio" name="forward" id="forward1" value="0" checked>南北朝向
        										</label>
        										<label class="radio-inline">
        											<input type="radio" name="forward" id="forward2" value="1" >东西朝向
        										</label>
        									</div>
        									<div class="form-group">
        										<label>有无车库：</label>
        										<label class="radio-inline">
        											<input type="radio" name="carport" id="carport1" value="1" checked>有
        										</label>
        										<label class="radio-inline">
        											<input type="radio" name="carport" id="carport2" value="0">无
        										</label>
        									</div>
        									<div class="form-group">
        										<label>描述</label>
        										<textarea class="form-control" rows="6" name="desc"></textarea>
        									</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" onclick="formSubmit('<%=rent%>')">保存</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
</div>
</form>