<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>唯佳房产</title>

    <!-- Bootstrap Core CSS -->
    <link href="/startbootstrap-sb-admin-2-1.0.5/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/startbootstrap-sb-admin-2-1.0.5/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="/startbootstrap-sb-admin-2-1.0.5/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="/startbootstrap-sb-admin-2-1.0.5/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/startbootstrap-sb-admin-2-1.0.5/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/startbootstrap-sb-admin-2-1.0.5/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">唯佳房产管理平台</a>

        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">

                    <li><a href="/user/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
        <div style="float:right;padding:15px">欢迎光临：<%=user[0].name%></div>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <%if(user[0].role == '1'){%>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 用户管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/user/sysUser"> 系统用户</a>
                            </li>
                            <li>
                                <a href="/user/agent"> 经纪人</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <%}%>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 房源信息<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/house/rentHouse"> 租赁房源</a>
                            </li>
                            <li>
                                <a href="/house/secondHouse"> 二手房源</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit fa-fw"></i> 预约信息<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">租赁房预约<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="/order/rent/in">我要租房</a>
                                    </li>
                                    <li>
                                        <a href="/order/rent/out">我要出租</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                            <li>
                                <a href="#">二手房房预约<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="/order/second/in">我要买房</a>
                                    </li>
                                    <li>
                                        <a href="/order/second/out">我要卖房</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="/user/recruit"><i class="fa fa-graduation-cap fa-fw"></i> 招聘信息</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    <div id="page-wrapper" >
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">招聘信息</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-6">
                <form role="form"  method="post" id="recruitForm">
                        <label>责任描述:</label>
                        <textarea class="form-control" rows="5" id="duty"><%=data[0].duty%></textarea>
                    <div class="form-group">
                        <label>招聘要求:</label>
                        <textarea class="form-control" rows="5" id="require"><%=data[0].require%></textarea>
                    </div>
                    <div class="form-group">
                        <label>招聘人数:</label>
                        <input class="form-control" value='<%=data[0].number%>' id="number">
                    </div>
                    <div class="form-group">
                         <label>投职简历邮箱:</label>
                         <input class="form-control" value='<%=data[0].email%>' id="email">
                     </div>
                     <div class="form-group">
                            <label>联系电话:</label>
                            <input class="form-control" value='<%=data[0].tel%>' id="tel">
                     </div>
                    <br/>
                    <button type="button" class="btn btn-success" onclick="recruitSubmit('<%=data[0].guid%>')">确定</button>&nbsp;&nbsp;&nbsp;
                    <button type="reset" class="btn btn-danger">重置</button>
                </form>
            </div>
        </div>

        <!-- /#page-wrapper -->

    </div>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/startbootstrap-sb-admin-2-1.0.5/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/startbootstrap-sb-admin-2-1.0.5/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/startbootstrap-sb-admin-2-1.0.5/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/startbootstrap-sb-admin-2-1.0.5/bower_components/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="/startbootstrap-sb-admin-2-1.0.5/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/startbootstrap-sb-admin-2-1.0.5/dist/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        function recruitSubmit(guid){
            $.ajax({
                type: "POST",
                url: "/user/updateRecruit/"+guid+"?duty="+$("#duty").val()+"&require="+$("#require").val()+"&number="+$("#number").val()+"&email="+$("#email").val()+"&tel="+$("#tel").val(),
                success: function(data){
                    if(data.success==true){
                        alert("操作成功！");
                        window.location.reload();
                    }else{
                        alert("操作失败！");
                    }
                }
            });
        };

    </script>
</body>

</html>
