<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>唯佳房产</title>
 <link href="/stylesheets/swipebox.min.css" rel="stylesheet"  />
    <!-- Bootstrap Core CSS -->
    <link href="/startbootstrap-sb-admin-2-1.0.5/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/startbootstrap-sb-admin-2-1.0.5/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="/startbootstrap-sb-admin-2-1.0.5/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="/startbootstrap-sb-admin-2-1.0.5/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/startbootstrap-sb-admin-2-1.0.5/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/startbootstrap-sb-admin-2-1.0.5/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
                       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                           <span class="sr-only">Toggle navigation</span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                       </button>
                       <a class="navbar-brand" href="#">唯佳房产管理平台</a>

                   </div>
                   <!-- /.navbar-header -->

                   <ul class="nav navbar-top-links navbar-right">
                       <!-- /.dropdown -->
                       <li class="dropdown">
                           <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                               <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                           </a>
                           <ul class="dropdown-menu dropdown-user">

                               <li><a href="/user/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                               </li>
                           </ul>
                           <!-- /.dropdown-user -->
                       </li>
                       <!-- /.dropdown -->
                   </ul>
                   <!-- /.navbar-top-links -->
                   <div style="float:right;padding:15px">欢迎光临：<%=user[0].name%></div>
                   <div class="navbar-default sidebar" role="navigation">
                       <div class="sidebar-nav navbar-collapse">
                           <ul class="nav" id="side-menu">
                               <%if(user[0].role == '1'){%>
                               <li>
                                   <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 用户管理<span class="fa arrow"></span></a>
                                   <ul class="nav nav-second-level">
                                       <li>
                                           <a href="/user/sysUser"> 系统用户</a>
                                       </li>
                                       <li>
                                           <a href="/user/agent"> 经纪人</a>
                                       </li>
                                   </ul>
                                   <!-- /.nav-second-level -->
                               </li>
                               <%}%>
                               <li>
                                   <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 房源信息<span class="fa arrow"></span></a>
                                   <ul class="nav nav-second-level">
                                       <li>
                                           <a href="/house/rentHouse"> 租赁房源</a>
                                       </li>
                                       <li>
                                           <a href="/house/secondHouse"> 二手房源</a>
                                       </li>
                                   </ul>
                                   <!-- /.nav-second-level -->
                               </li>
                               <li>
                                   <a href="#"><i class="fa fa-edit fa-fw"></i> 预约信息<span class="fa arrow"></span></a>
                                   <ul class="nav nav-second-level">
                                       <li>
                                           <a href="#">租赁房预约<span class="fa arrow"></span></a>
                                           <ul class="nav nav-third-level">
                                               <li>
                                                   <a href="/order/rent/in">我要租房</a>
                                               </li>
                                               <li>
                                                   <a href="/order/rent/out">我要出租</a>
                                               </li>
                                           </ul>
                                           <!-- /.nav-third-level -->
                                       </li>
                                        <li>
                                           <a href="#">二手房房预约<span class="fa arrow"></span></a>
                                           <ul class="nav nav-third-level">
                                                <li>
                                                    <a href="/order/second/in">我要买房</a>
                                                </li>
                                                 <li>
                                                     <a href="/order/second/out">我要卖房</a>
                                                 </li>
                                            </ul>
                                            <!-- /.nav-third-level -->
                                        </li>
                                   </ul>
                                   <!-- /.nav-second-level -->
                               </li>
                               <li>
                                   <a href="/user/recruit"><i class="fa fa-graduation-cap fa-fw"></i> 招聘信息</a>
                               </li>
                           </ul>
                       </div>
                       <!-- /.sidebar-collapse -->
                   </div>
                   <!-- /.navbar-static-side -->
               </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">房源信息</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <button type="button" class="btn btn-primary" onclick="editHouse('<%=rent%>')">新增房源</button>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <% if(rent==true) {%> <b>租赁房源</b><%}%>
                        <% if(rent==false) {%> <b>二手房源</b><%}%>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>标题</th>
                                    <th>价格</th>
                                    <th>户型</th>
                                    <th>面积</th>
                                    <th>楼层</th>
                                    <th>装修情况</th>
                                    <th>房源朝向</th>
                                    <th>建筑年代</th>
                                    <th>地址</th>
                                    <th>经理人</th>
                                    <th>照片</th>
                                    <th style="text-align: center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var i=0; i< data.length;i++){%>
                                <tr>
                                <td><%=i+1%></td>
                                <td><%= data[i].title %></td>
                                <td><%= data[i].price %></td>
                                <td><%if(data[i].typelist!=null){%><%= data[i].typelist.label %><%}%></td>
                                <td><%= data[i].area %></td>
                                <td><%= data[i].floor %></td>
                                <td><%if(data[i].fitment=="0"){%>毛坯<%}%><%if(data[i].fitment=="1"){%>简装<%}%><%if(data[i].fitment=="2"){%>精装<%}%><%if(data[i].fitment=="3"){%>豪华装修<%}%></td>
                                <td><%if(data[i].forward=="0"){%>南北朝向<%}%><%if(data[i].forward=="1"){%>非南北朝向<%}%></td>
                                <td><%= data[i].createyear %></td>
                                <td><%= data[i].address %></td>
                                <td class="center"><%if(data[i].agent!=null){%><%= data[i].agent.name %><%}%></td>
                                <td><img src="/upload/<%=(data[i].photourl).split(';')[0]%>" style="width:50px;height:50px" alt="image" id="gallery" onerror="this.src='/images/b.jpg'" onclick="showPic('<%=(data[i].photourl)%>')"></td>
                                <td style="text-align: center"><button type="button" class="btn btn-danger" onClick="deleteHouse('<%=data[i].guid%>')">删除</button>
                                    <button type="button" class="btn btn-success" onClick="editHouse('<%=data[i].guid%>')" >修改</button>
                                    <button type="file" class="btn btn-warning" onClick="upload('<%=data[i].guid%>')" >上传</button>
                                </td>
                                </tr>
                                <%}%>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
</div>
    </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="/startbootstrap-sb-admin-2-1.0.5/bower_components/jquery/dist/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/startbootstrap-sb-admin-2-1.0.5/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="/startbootstrap-sb-admin-2-1.0.5/bower_components/metisMenu/dist/metisMenu.min.js"></script>

        <!-- DataTables JavaScript -->
        <script src="/startbootstrap-sb-admin-2-1.0.5/bower_components/DataTables/media/js/jquery.dataTables.min.js"></script>
        <script src="/startbootstrap-sb-admin-2-1.0.5/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="/startbootstrap-sb-admin-2-1.0.5/dist/js/sb-admin-2.js"></script>

        <!-- fnReloadAjax -->
        <!-- <script src="http://cdn.datatables.net/plug-ins/1.10.9/api/fnReloadAjax.js"></script>-->

        <script src="/javascripts/jquery.swipebox.min.js"></script>
        <script src="/javascripts/jquery-form.js"></script>

        <!-- Page-Level Demo Scripts - Tables - Use for reference -->
        <script>
            $(document).ready(function() {
                $('#dataTables-example').DataTable({
                    responsive: true,
                    bStateSave: true
                });
            });


            function deleteHouse(guid){
                $.ajax({
                    type: "get",
                    url: "/house/deleteHouse/"+guid,
                    dataType: "json",
                    success: function(data){
                        if(data.success == true){
                            window.location.reload();
                        }else{
                            alert("删除失败！");
                        }
                    }
                });
            }

            function upload(guid){
                $('#myModal').modal({remote:'/house/upload/'+guid,backdrop:false}).on("hidden.bs.modal", function () {
                    $(this).removeData("bs.modal");
                });
            }

            function uploadFiles(guid){
                $("#uploadForm").ajaxSubmit({
                    url : "/house/uploadfiles/"+guid, // 请求的url
                    type : "post", // 请求方式
                    dataType : "json",
                    success : function(data){
                        alert("上传成功！");
                        $('#myModal').modal('hide');
                         window.location.reload();
                    },
                    error : function(){
                        alert("数据加载失败！");
                    }
                })
                }

                function editHouse(guid){
                    $('#myModal').modal({remote:'/house/detailHouse/'+guid,backdrop:false}).on("hidden.bs.modal", function () {
                        $(this).removeData("bs.modal");
                    });
                }

                function formSubmit(guid){
                    var formData=$("#houseForm").serialize();
                    $.ajax({
                        type: "POST",
                        url: "/house/updateHouse/"+guid,
                        processData:true,
                        data:formData,
                        success: function(data){
                            if(data.success==true){
                                alert("操作成功！");
                                $('#myModal').modal('hide');
                                window.location.reload();
                            }else{
                                alert("操作失败！");
                            }
                        }
                    });
                };

                function showPic(photourl) {
                        var photourl =photourl.split(";");
                        var msg = [];
                        $.each(photourl,function(){
                            if(this!=""){
                                msg.push({ href:'/upload/'+this,title:'' })
                            }else{
                                msg.push({ href:'/images/b.jpg',title:'暂时无照片' });
                            }
                        })
                        $.swipebox(msg);
                    };
                    jQuery(function($) {
                        $(".swipebox").swipebox({
                            useCSS : true,
                            hideCloseButtonOnMobile : false
                        });
                    });
        </script>
</body>

</html>
